*.mo
*.pyc
*.swo
*~
.idea
.env
.directory
.ropeproject/
*.egg-info/
dist/
*.db
*.sqlite3
*.swp
*.zip
*.orig
static/.webassets-cache
static/cache
media/*
!media/__placeholder__/placeholders/
settings_local.py
staticfiles/.webassets-cache/
staticfiles/cache/
staticfiles/
*.mmdb
*.DS_Store
*.py___jb_old___
staticfiles/
.env
.directory
http_proxylist.txt
config/settings/environments/local.py
debug_logfile.txt
